body{
  background-image: url("./assets/banner/fondoMovil.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  /*     background: -webkit-linear-gradient(top,#00203d 40% ,#fff) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 */