<div class="container mt-5">
  <div class="row pt-5">
    <div class="col-sm-5 tarjeta">
      <div class="">
        <div class="card-body">
          <h5 class="card-title text-center">Asegurado</h5>
          <p class="card-text">
            El Asegurado es la persona física o jurídica, titular del interés
            objeto del seguro que, en defecto del Tomador, asume las
            obligaciones derivadas del contrato.
          </p>
          <button class="btn btn-dark" style="cursor: pointer" (click)="irAsegurado()">
            Ingresar como asegurado
        </button>
         

        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 tarjeta">
      <!-- <div class="card">-->
      <div class="">
        <div class="card-body">
          <h5 class="card-title text-center">Empleador</h5>
          <p class="card-text">
            Los empleadores deben realizar los pagos de contribuciones hasta el
            último día hábil del mes posterior a aquel en que devengan los
            sueldos o salarios de sus dependientes
          </p>
          <button class="btn btn-dark" style="cursor: pointer" (click)="irEmpleador()">Ingresar como Empleador</button>
        </div>
      </div>
    </div>

  </div>
</div>
<hr>
